<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/loading') %>
    <%- partial('_partial/menu') %>
    <main id="main">
        <%- body %>
        <%- partial('_partial/footer') %>
    </main>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/script') %>
    <% if(theme.ribbon) {%>
        <script type="text/javascript" alpha="0.2" src="/plugins/ribbon.min.js"></script>
    <% } %>
    <% if(theme.canvas_nest) {%>
        <script src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
    <% } %>
</body>
</html>
